extends ../layout

block breadcrumb
    nav.m-3
        ol.breadcrumb
            li.breadcrumb-item
                a( href="/home" )
                    | Home
            li.breadcrumb-item.active
                   | Companies

block content

    h1.display-4 Companies

    each company, index in companies
        a.card.p-3.mb-3.list-card( href='/company/view/' + company._id )
            h5 #{company.name}
