extends ../layout

block breadcrumb
    nav.m-3
        ol.breadcrumb
            li.breadcrumb-item
                a( href="/home" )
                    | Home
            li.breadcrumb-item.active
                   | Companies

block content

    h1 Companies

    ul
        each company, index in companies
            li
                a( href='/company/view/' + company._id )
                    span.name.mr-1
                        | #{company.name}